
@{
    ViewData["Title"] = "Home Page";
}
<p class="text-center center"><b>Movies coming soon in @DateTime.Now.Year..</b></p>
<div class="home">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Index", "Movies")" class="thumbnail">
                So What. Coming soon!!!
                <img src="~/images/what now.jpg" alt="" />
            </a>
        </div>

        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Index", "Movies")" class="thumbnail">
                Fate and Furius 8. Coming soon!!!
                <img src="~/images/fast 8.jpg" alt="" />
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Index", "Movies")" class="thumbnail">
                So What. Coming soon!!!
                <img src="~/images/what now.jpg" alt="" />
            </a>
        </div>

        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Index", "Movies")" class="thumbnail">
                Boyka Undisputed. Coming soon!!!
                <img src="~/images/boyka.jpg" alt="" />
            </a>
        </div>

        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Index", "Movies")" class="thumbnail">
                Justice League. Coming soon!!!
                <img src="~/images/justice league.png" alt="" />
            </a>
        </div>

        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Index", "Movies")" class="thumbnail">
                Boyka Undisputed. Coming soon!!!
                <img src="~/images/boyka.jpg" alt="" />
            </a>
        </div>
    </div>
</div>

