
@{
    ViewData["Title"] = "Home Page";
}
<h2 class="text-center center" style="color:white;"><b>UPCOMING</b></h2> 
<div class="home">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Index", "Movies")" class="thumbnail" style="color:white">
                So What. Coming soon!!!
                <img src="~/images/what now.jpg" alt="" />
            </a>
        </div>

        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Index", "Movies")" class="thumbnail" style="color:white">
                Fate and Furius 8. Coming soon!!!
                <img src="~/images/fast 8.jpg" alt="" />
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Index", "Movies")" class="thumbnail" style="color:white">
                So What. Coming soon!!!
                <img src="~/images/what now.jpg" alt="" />
            </a>
        </div>

        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Index", "Movies")" class="thumbnail" style="color:white">
                Boyka Undisputed. Coming soon!!!
                <img src="~/images/boyka.jpg" alt="" />
            </a>
        </div>

        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Index", "Movies")" class="thumbnail" style="color:white">
                Justice League. Coming soon!!!
                <img src="~/images/justice league.png" alt="" />
            </a>
        </div>

        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Index", "Movies")" class="thumbnail" style="color:white">
                Boyka Undisputed. Coming soon!!!
                <img src="~/images/boyka.jpg" alt="" />
            </a>
        </div>
    </div>
</div>
<h2 class="text-center center" style="color:white;"><b>POPULAR</b></h2> 
<div class="col-xs-6 col-md-4">
    <a href="@Url.Action("Index", "Movies")" class="thumbnail" style="color:white">
        Justice League. Coming soon!!!
        <img src="~/images/justice league.png" alt="" />
    </a>
</div>
<div class="col-xs-6 col-md-4">
    <a href="@Url.Action("Index", "Movies")" class="thumbnail" style="color:white">
        Fate and Furius 8. Coming soon!!!
        <img src="~/images/fast 8.jpg" alt="" />
    </a>
</div>
<div class="col-xs-6 col-md-4">
    <a href="@Url.Action("Index", "Movies")" class="thumbnail" style="color:white">
        Boyka Undisputed. Coming soon!!!
        <img src="~/images/boyka.jpg" alt="" />
    </a>
</div>

<h2 class="text-center center" style="color:white;"><b>NOW PLAYING</b></h2> 
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

